.App {
  text-align: center;
  display: grid;
  grid-template-rows: 60px auto 48px;
  gap: 5px;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}

main {
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
}

.button {
  background: rgb(43, 88, 88);
  color: white;
  border: none;
}

.pages {
  background: chocolate;
  color: white;
}
