.App {
  text-align: center;
  display: grid;
  grid-template-rows: 60px auto 48px;
  gap: 10px;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}

main {
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.nav {
  background: red;
}
