.CardLocation {
  padding: 20px;
  background: hsl(236, 52%, 88%, 0.9);
  border-radius: 8px;
  display: grid;
  margin: 0 auto;
  width: 200px;
  gap: 10px;
}

.CardLocation > ul {
  padding: 0;
  list-style: none;
}
