.Card {
  padding: 20px;
  background: hsl(236, 52%, 88%, 0.9);
  border-radius: 8px;
  display: grid;
  margin: 0 auto;
  width: 300px;
  gap: 10px;
}

.Card > h2 {
  margin: 0;
}

.Card > img {
  border-radius: 8px;
}
