.Menu {
  display: grid;
  grid-template-columns: 40% 60%;
  background: #333;
  color: white;
}

.Pagination {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  align-items: center;
}

.Span {
  display: grid;
  align-content: center;
  background: #333;
  height: 100%;
}

.cardContainer {
  display: flex;
  overflow-y: scroll;
  flex-wrap: wrap;
  gap: 10px;
}
