.Menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Pagination {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  align-items: center;
}

.Span {
  width: 70px;
  text-align: center;
}

.cardContainer {
  display: flex;
  overflow-y: scroll;
  flex-wrap: wrap;
  gap: 10px;
}
